/* Hatena */
.share-button--hatena {
  background-color: hsla(196, 100%, 44%, 1);
}

.share-button--hatena:focus {
  box-shadow: 0 0 0 3px hsla(196, 94%, 69%, 0.4);
}

.share-button--hatena:hover {
  background-color: hsla(196, 100%, 44%, 0.9);
}

.share-button--hatena .share-button__icon path {
  fill: #fff;
}

.share-button--hatena.share-button--outline {
  background-color: transparent;
  border-color: hsla(196, 100%, 44%, 1);
}

.share-button--hatena.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(196, 100%, 44%, 0.9);
}

.share-button--hatena.share-button--outline .share-button__text {
  color: hsla(196, 100%, 44%, 1);
}

.share-button--hatena.share-button--outline:hover .share-button__text {
  color: hsla(196, 100%, 44%, 0.9);
}

.share-button--hatena.share-button--outline .share-button__icon path {
  fill: hsla(196, 100%, 44%, 1);
}

.share-button--hatena.share-button--outline:hover .share-button__icon path {
  fill: hsla(196, 100%, 44%, 0.9);
}

.share-button--hatena.share-button--painted {
  background-color: transparent;
  border-color: hsla(195, 77%, 34%, 1);
}

.share-button--hatena.share-button--painted::before {
  background-color: hsla(196, 100%, 44%, 1);
}
