/* Instapaper */
.share-button--instapaper {
  background-color: hsla(0, 0%, 12%, 1);
}

.share-button--instapaper:focus {
  box-shadow: 0 0 0 3px hsla(0, 0%, 37%, 0.4);
}

.share-button--instapaper:hover {
  background-color: hsla(0, 0%, 12%, 0.9);
}

.share-button--instapaper .share-button__icon path {
  fill: #fff;
}

.share-button--instapaper.share-button--outline {
  background-color: transparent;
  border-color: hsla(0, 0%, 12%, 1);
}

.share-button--instapaper.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(0, 0%, 12%, 0.9);
}

.share-button--instapaper.share-button--outline .share-button__text {
  color: hsla(0, 0%, 12%, 1);
}

.share-button--instapaper.share-button--outline:hover .share-button__text {
  color: hsla(0, 0%, 12%, 0.9);
}

.share-button--instapaper.share-button--outline .share-button__icon path {
  fill: hsla(0, 0%, 12%, 1);
}

.share-button--instapaper.share-button--outline:hover .share-button__icon path {
  fill: hsla(0, 0%, 12%, 0.9);
}

.share-button--instapaper.share-button--painted {
  background-color: transparent;
  border-color: hsla(0, 0%, 0%, 1);
}

.share-button--instapaper.share-button--painted::before {
  background-color: hsla(0, 0%, 12%, 1);
}
