/* Pinterest */
.share-button--pinterest {
  background-color: hsla(353, 92%, 39%, 1);
}

.share-button--pinterest:focus {
  box-shadow: 0 0 0 3px hsla(353, 86%, 64%, 0.4);
}

.share-button--pinterest:hover {
  background-color: hsla(353, 92%, 39%, 0.9);
}

.share-button--pinterest .share-button__icon path {
  fill: #fff;
}

.share-button--pinterest.share-button--outline {
  background-color: transparent;
  border-color: hsla(353, 92%, 39%, 1);
}

.share-button--pinterest.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(353, 92%, 39%, 0.9);
}

.share-button--pinterest.share-button--outline .share-button__text {
  color: hsla(353, 92%, 39%, 1);
}

.share-button--pinterest.share-button--outline:hover .share-button__text {
  color: hsla(353, 92%, 39%, 0.9);
}

.share-button--pinterest.share-button--outline .share-button__icon path {
  fill: hsla(353, 92%, 39%, 1);
}

.share-button--pinterest.share-button--outline:hover .share-button__icon path {
  fill: hsla(353, 92%, 39%, 0.9);
}
