/* Pocket */
.share-button--pocket {
  background-color: hsla(352, 85%, 59%, 1);
}

.share-button--pocket:focus {
  box-shadow: 0 0 0 3px hsla(352, 79%, 84%, 0.4);
}

.share-button--pocket:hover {
  background-color: hsla(352, 85%, 59%, 0.9);
}

.share-button--pocket .share-button__icon path {
  fill: #fff;
}

.share-button--pocket.share-button--outline {
  background-color: transparent;
  border-color: hsla(352, 85%, 59%, 1);
}

.share-button--pocket.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(352, 85%, 59%, 0.9);
}

.share-button--pocket.share-button--outline .share-button__text {
  color: hsla(352, 85%, 59%, 1);
}

.share-button--pocket.share-button--outline:hover .share-button__text {
  color: hsla(352, 85%, 59%, 0.9);
}

.share-button--pocket.share-button--outline .share-button__icon path {
  fill: hsla(352, 85%, 59%, 1);
}

.share-button--pocket.share-button--outline:hover .share-button__icon path {
  fill: hsla(352, 85%, 59%, 0.9);
}

.share-button--pocket.share-button--painted {
  background-color: transparent;
  border-color: hsla(351, 62%, 49%, 1);
}

.share-button--pocket.share-button--painted::before {
  background-color: hsla(352, 85%, 59%, 1);
}
