/* Renren */
.share-button--renren {
  background-color: hsla(207, 71%, 45%, 1);
}

.share-button--renren:focus {
  box-shadow: 0 0 0 3px hsla(207, 65%, 50%, 0.4);
}

.share-button--renren:hover {
  background-color: hsla(207, 71%, 45%, 0.9);
}

.share-button--renren .share-button__icon path {
  fill: #fff;
}

.share-button--renren.share-button--outline {
  background-color: transparent;
  border-color: hsl(207, 71%, 45%, 1);
}

.share-button--renren.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(207, 71%, 45%, 0.9);
}

.share-button--renren.share-button--outline .share-button__text {
  color: hsla(207, 71%, 45%, 1);
}

.share-button--renren.share-button--outline:hover .share-button__text {
  color: hsla(207, 71%, 45%, 0.9);
}

.share-button--renren.share-button--outline .share-button__icon path {
  fill: hsla(207, 71%, 45%, 1);
}

.share-button--renren.share-button--outline:hover .share-button__icon path {
  fill: hsla(207, 71%, 45%, 0.9);
}
