/* Telegram */
.share-button--telegram {
  background-color: hsla(200, 74%, 53%, 1);
}

.share-button--telegram:focus {
  box-shadow: 0 0 0 3px hsla(200, 68%, 78%, 0.4);
}

.share-button--telegram:hover {
  background-color: hsla(200, 74%, 53%, 0.9);
}

.share-button--telegram .share-button__icon path {
  fill: #fff;
}

.share-button--telegram.share-button--outline {
  background-color: transparent;
  border-color: hsla(200, 74%, 53%, 1);
}

.share-button--telegram.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(200, 74%, 53%, 0.9);
}

.share-button--telegram.share-button--outline .share-button__text {
  color: hsla(200, 74%, 53%, 1);
}

.share-button--telegram.share-button--outline:hover .share-button__text {
  color: hsla(200, 74%, 53%, 0.9);
}

.share-button--telegram.share-button--outline .share-button__icon path {
  fill: hsla(200, 74%, 53%, 1);
}

.share-button--telegram.share-button--outline:hover .share-button__icon path {
  fill: hsla(200, 74%, 53%, 0.9);
}

.share-button--telegram.share-button--painted {
  background-color: transparent;
  border-color: hsla(199, 51%, 43%, 1);
}

.share-button--telegram.share-button--painted::before {
  background-color: hsla(200, 74%, 53%, 1);
}
