/* Twitter */
.share-button--twitter {
  background-color: hsla(203, 88%, 53%, 1);
}

.share-button--twitter:focus {
  box-shadow: 0 0 0 3px hsla(203, 82%, 78%, 0.4);
}

.share-button--twitter:hover {
  background-color: hsla(203, 89%, 53%, 0.9);
}

.share-button--twitter .share-button__icon path {
  fill: #fff;
}

/* Circle */
.share-button--twitter.share-button--outline {
  background-color: transparent;
  border-color: hsla(203, 89%, 53%, 1);
}

.share-button--twitter.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(203, 89%, 53%, 0.9);
}

.share-button--twitter.share-button--outline .share-button__text {
  color: hsla(203, 89%, 53%, 1);
}

.share-button--twitter.share-button--outline:hover .share-button__text {
  color: hsla(203, 89%, 53%, 0.9);
}

.share-button--twitter.share-button--outline .share-button__icon path {
  fill: hsla(203, 89%, 53%, 1);
}

.share-button--twitter.share-button--outline:hover .share-button__icon path {
  fill: hsla(203, 89%, 53%, 0.9);
}
