/* WhatsApp */
.share-button--whatsApp {
  background-color: hsla(142, 70%, 49%, 1);
}

.share-button--whatsApp:focus {
  box-shadow: 0 0 0 3px hsla(142, 64%, 74%, 0.4);
}

.share-button--whatsApp:hover {
  background-color: hsla(142, 70%, 49%, 0.9);
}

.share-button--whatsApp .share-button__icon path {
  fill: #fff;
}

.share-button--whatsApp.share-button--outline {
  background-color: transparent;
  border-color: hsla(142, 70%, 49%, 1);
}

.share-button--whatsApp.share-button--outline:hover {
  background-color: transparent;
  border-color: hsla(142, 70%, 49%, 0.9);
}

.share-button--whatsApp.share-button--outline .share-button__text {
  color: hsla(142, 70%, 49%, 1);
}

.share-button--whatsApp.share-button--outline:hover .share-button__text {
  color: hsla(142, 70%, 49%, 0.9);
}

.share-button--whatsApp.share-button--outline .share-button__icon path {
  fill: hsla(142, 70%, 49%, 1);
}

.share-button--whatsApp.share-button--outline:hover .share-button__icon path {
  fill: hsla(142, 70%, 49%, 0.9);
}

.share-button--whatsApp.share-button--painted {
  background-color: transparent;
  border-color: hsla(141, 47%, 39%, 1);
}

.share-button--whatsApp.share-button--painted::before {
  background-color: hsla(142, 70%, 49%, 1);
}
